<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @remind.name %> + " reminder"</h1>
    <p>
      Your message for yourself was: <br>
      <b>
      <%= @remind.message %>
    </b>
    </p>
    <p>
      
    </p>
    <p>
      If you would like to modify your notifications, or stop getting them at all, you can <b>here</b>.
    </p>
    <p>Thanks for using OhForgetful.Me!</p>
    </body>
    </html>