<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to <%= @url %>, holder of <%= @remind.contactinfo %></h1>
    <p>
      You have successfully setup a reminder
    </p>
    <p>
      The reminder name is: <b><%= @remind.name %></b>
    </p>
    <p>
      You will be reminded on <%= @remind.date.to_formatted_s(:long_ordinal) %></p><br>
    <p>Thanks for joining and have a great day!</p>
    </body>
    </html>