<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to example.com, holder of <%= @remind.contactinfo %></h1>
    <p>
      You have successfully setup a reminder
    </p>
    <p>
      The reminder name is <%= @remind.name %>
    </p>
    <p>
      You will be reminded on 
    <p>Thanks for joining and have a great day!</p>
    </body>
    </html>