// Place all the styles related to the reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
 
    font-family: "Helvetica";

}


html,#heading, #footer, .field, .middle, #heading-span{
    background:#F7F7F7;
}

#heading, #footer {
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    padding: 10px;
}

#heading-span {
    width:100%;
    height:20px;

}

#heading {
    padding-left: 35px;
    padding-right: 35px;

}
.link:hover, .link:visited, .link{
    color: #000000 !important;
    text-decoration: none !important;
}
#footer {
    border-top:solid grey 1.5px;
    margin-top: 75px;
    padding-top: 20px;
}

.field {
    margin-left:auto;
    margin-right:auto;
    width: 65%;
    margin-top: 60px;
    padding: 10px;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;

}
.form-button {
    color: #000000;
}
.field h1 {
    text-align: center;
}
#error_explanation {
    margin-left:auto;
    margin-right:auto;
    margin-top:45px;
}
//scrunches letters together to make it feel like a logo
#heading h1 {
    letter-spacing:-3px;
}

#heading h3 {
   letter-spacing:-0.5px;
}
