// Place all the styles related to the reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
 
    font-family: "Helvetica", "Calibri";
}

#heading, #footer {
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    padding: 10px;
}

#footer {
    border-top:solid grey 1.5px;
    margin-top: 75px;
    padding-top: 20px;
}

.field {
    margin-left:auto;
    margin-right:auto;
    width: 65%;
    margin-top: 60px;
    padding: 10px;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;

}
h1 {
    letter-spacing:-2.5px;
}
.middle h2 {
    text-align: center;
}

.field h2 {
    text-align: center;
}


