<!DOCTYPE html>
<html>
<head>
  <title>Oh Forgetful Me!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id = "container">
    <div id = "heading">
        <h1>OhForgetful.Me</h1>
        <h3>Stop pretending and start remembering</h3>
    </div>

<%= yield %>
<div id = "footer">
        This website was created by Matthew Hamilton
    </div>
</div>
</body>
</html>
